body {
    margin: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url("../images/bg_chips.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}


.table{
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    margin: 25px;
    background-image: url("../images/bg_red_felt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;

    
}

.player{
    display: flex;
    flex-direction: column;
    /* height: 50%; */
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

/* img{
    height: 50%;
} */

.overflow{
    overflow: hidden;
}

#player-hand, #dealer-hand {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

img{
    width: 100px;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.message-box{
    width: 70%;
    height: 20%;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    background-image: url('../images/gold1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-score, .dealer-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name, .dealer-name, .player-name2 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.message {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
}

.round-name {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

.player-score-box, .dealer-score-box {
    /* color: rgb(180, 2, 2); */
    background-color: black;
    height: 90px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.player-score-shown, .dealer-score-shown {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 80px;
    color: rgb(206, 0, 0);
}

.cards-left-shown {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 50px;
    color: rgb(206, 0, 0);
}

.round-number{
    background-color: black;
    height: 70px;
    width: 100px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#deal-button, #hit-button, #stand-button, #again-button {
    width: 85px;
    height: 60px;
    font-family: 'Archivo Black', sans-serif;
    background-color: black;
    color: white;
    font-size: 20px;

}

.none {
    display: none;
}
